@media all and (max-width: 500px) {
  .midge--fish {
    width: 4em;
    left: 0;
    top: 15%;
  }
  .midge--trees {
    display: none;
  }
  .midge--circle-striped {
    display: none;
  }
  .midge--pattern-1 {
    width: 4em;
  }
  .midge--pattern-2 {
    display: none;
  }
  .midge--waves {
    display: none;
  }
  .midge--cross-1 {
    width: 1em;
    right: 20%;
    top: 18%;
  }
  .midge--cross-2 {
    display: none;
  }
  .midge--arrows-1 {
    display: none;
  }
  .midge--arrows-2 {
    width: 5em;
    left: 20%;
    bottom: 20%;
  }
  .screen__logo {
    max-width: 70%;
  }
  .stick {
    height: 2px;
  }
  .stick--pink {
    display: none;
  }
  .stick--1 {
    display: none;
  }
  .stick--2 {
    top: 10%;
    left: -5%;
    width: 100px;
  }
  .stick--blue {
    width: 350px;
    bottom: 20%;
    right: -60%;
    left: unset;
  }
  .menu, .symbols {
    display: none;
  }
  .rectangle {
    height: 100vh;
    -webkit-transform: skew(0);
            transform: skew(0);
    border-radius: 0;
  }
  .rectangle__pattern {
    left: 0;
    right: 0;
    -webkit-transform: skew(0);
            transform: skew(0);
  }
  .rectangle--left {
    width: 100vw;
    left: 0;
  }
  .rectangle--right {
    display: none;
  }
  .info__title--1 {
    font-size: 18px;
    font-weight: 600;
  }
  .info__title--2 {
    font-size: 20px;
    padding: 15px 10px 0 10px;
  }
  .info__text {
    width: auto;
  }
}

body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
}

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}

.onepage-wrapper .section {
  width: 100%;
  height: 100%;
}

.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
}

.onepage-pagination li {
  padding: 0;
  text-align: center;
}

.onepage-pagination li a {
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block;
}

.onepage-pagination li a:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.onepage-pagination li a.active:before {
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid black;
  margin-top: -4px;
  left: 8px;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
  position: relative !important;
  top: auto !important;
  left: auto !important;
}

.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%;
}

.disabled-onepage-scroll .onepage-pagination {
  display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}
/*# sourceMappingURL=responsive.css.map */